[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
invoke = "*"
flake8 = "*"
honcho = "*"
pytest-socket = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
requests = "*"
sqlalchemy = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
