[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
invoke = "*"
flake8 = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
requests = "*"

[requires]
python_version = "3.8"
